IEclipsePreferences#org-eclipse-epp-mpc-ui:org-eclipse-ui-themes { /* pseudo attribute added to allow contributions to switch between native and CSS borders globally */
   preferences:
      'native-borders=false'
}


.MarketplaceViewer,
.MarketplaceViewer > *,
.MarketplaceItem,
.MarketplaceItem * {
    background-color: #383C3E;
    color: #dddddd;
}

.MarketplaceItem Link {
    color: #8B9498;
}
.MarketplaceItem .disabled {
    color: #aaaaaa;
}

.TagsToolTip,
.TagsToolTip * {
    background-color: #515658;
    color: #dddddd;
}

.NotificationItem,
.NotificationItem * {
    background-color: #505F70;
    color: #9ac9d8;
}

.CatalogSwitcher,
.CatalogSwitcher > ScrolledComposite,
.CatalogSwitcher > ScrolledComposite > *,
.Catalog,
.Catalog > * {
    background-color: #383C3E;
    color: #dddddd;
}

.Catalog:checked,
.Catalog:checked > * {
    background-color: COLOR-LIST-SELECTION;
}

#MarketplacePage CTabItem:selected,
#MarketplaceContent,
.MarketplaceSearchHeader,
.MarketplaceSearchHeader > Label {
    background-color: '#org-eclipse-ui-workbench-ACTIVE_TAB_BG_END';
}

#MarketplacePage CategoryItem,
#MarketplacePage CategoryItem > GradientCanvas,
#MarketplacePage CategoryItem > GradientCanvas > Label {
    /* SWT-BUG workaround: a style for background is not applied on GradientCanvas (CSS engine repaint issue) */
    background: '#org-eclipse-ui-workbench-ACTIVE_TAB_BG_END';
    background-image: '#org-eclipse-ui-workbench-ACTIVE_TAB_BG_END';
    background-color: '#org-eclipse-ui-workbench-ACTIVE_TAB_BG_END';
    color: #dddddd;
}