# Local work folder that is not checked in
_LOCAL/

# Promotion
/org.eclipse.epp.mpc.site/mpc

# Eclipse
/bin/
/*/bin/
**/.settings/*
!**/.settings/org.eclipse.core.resoures.prefs
!**/.settings/org.eclipse.jdt.core.prefs
!**/.settings/org.eclipse.pde.core.prefs

# Maven
/target/
/*/target/
**/.tycho-consumer-pom.xml
**/.polyglot.*
*.log

# OSX
.DS_Store

# Vim
*.swo
*.swp
