{{#vendorExtensions.x-java-is-response-void}}Void{{/vendorExtensions.x-java-is-response-void}}{{-
}}{{^vendorExtensions.x-java-is-response-void}}{{>returnTypes}}{{/vendorExtensions.x-java-is-response-void}}