<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="HttpClient Target Platform" sequenceNumber="7">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.httpcomponents.httpcore" version="4.4.12.v20200108-1212"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="4.4.12.v20200108-1212"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.5.10.v20200830-2311"/>
<unit id="org.apache.httpcomponents.httpclient.source" version="4.5.10.v20200830-2311"/>
<unit id="org.apache.httpcomponents.httpclient.win" version="4.5.10.v20200830-2311"/>
<unit id="org.apache.httpcomponents.httpclient.win.source" version="4.5.10.v20200830-2311"/>
<!--
<unit id="com.sun.jna" version="4.5.1.v20190425-1842"/>
<unit id="com.sun.jna.source" version="4.5.1.v20190425-1842"/>
<unit id="com.sun.jna.platform" version="4.5.1.v20190425-1842"/>
<unit id="com.sun.jna.platform.source" version="4.5.1.v20190425-1842"/>
-->
<unit id="com.sun.jna" version="5.6.0.v20200716-0148"/>
<unit id="com.sun.jna.source" version="5.6.0.v20200716-0148"/>
<unit id="com.sun.jna.platform" version="5.6.0.v20200722-0209"/>
<unit id="com.sun.jna.platform.source" version="5.6.0.v20200722-0209"/>
<unit id="org.apache.commons.codec" version="1.14.0.v20200818-1422"/>
<unit id="org.apache.commons.codec.source" version="1.14.0.v20200818-1422"/>
<unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
<unit id="org.apache.commons.logging.source" version="1.2.0.v20180409-1502"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20201130205003/repository"/>
</location>
</locations>
</target>
